* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(196, 196, 196);
}

:root {
    --main-collor: #f8b281;
    --secondary-collor: #1b1b1b;
}

@font-face {
    font-family: "argonite";
    src: url("./assets/stone\ orgonite.woff");
}

.links {
    display: none;
}